.container__game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__board {
  display: grid;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: repeat(5, 35px);
}

.cell {
  width: 35px;
  height: 35px;
  gap: 1px;
  border: 0.5px solid #648703;
  background-color: #ffffff;
}

.cell.active {
  width: 35px;
  height: 35px;
  background-color: #2f4d6d;
}