.wrapper__hints-left {
  display: flex;
  align-items: flex-end;
  background-color: rgb(152, 189, 189);
}

.wrapper__hints-right {
  display: flex;
  flex-direction: column;
  background-color: rgb(152, 189, 189);
}

.hints {
  display: flex;
  font-family: Titillium;
}

.hints-left {
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  box-shadow: inset 0 0 0 3px #000000;
}

.hints-top {
  box-shadow: inset 0 0 0 3px #000000;
}

.hint-row {
  display: flex;
}

.hint-col {
  display: flex;
  flex-direction: column;
}

.hint-cell {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.hint-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cell {
  cursor: pointer;
}

.cell.color-cell {
  background-color: #000000;
  box-shadow: inset 0 0 0 1px #ffffff;
}

.hint-row:not(:last-child) {
  box-shadow: inset 0 -3px 0 0 #000000;
}

.hint-col:not(:last-child) {
  box-shadow: inset -3px 0 0 0 #000000;
}