.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
  background-color: rgb(152, 189, 189);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal__title {
	font-family: Playwrite;
	color: #648703;
	text-shadow: 0 0 10px rgba(0, 128, 0, 0.4);
}

.modal__content {
	font-family: Titillium;
}